body>div>a>img {
    display: none;}
body{
    
}
header{
background-position: center;
height: 100vh;
background-image: url(../imagenes/TECNOLOGIA2.jpg);
background-repeat: no-repeat;
background-size: cover;

}
#header{
    float: right;
    color: #fff;
}
nav{
    width: 100%;
height: 80px;
background-color: #000;
opacity: 0.8;
line-height: 80px;
position: fixed;
top:0 ;
left: 0;
z-index: 100;

}
nav ul{
float: right;
margin: 0;
padding-right: 42px;

}
nav ul li{
display: inline-block;
padding:2px 20px;
}
#header ul li a:hover{
   color: rgb(0, 174, 255);
   text-decoration: none;
}
#header ul li a {
    color:white;
}
small{
  
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
color: white; 
font: oblique bold 120%;
padding: 0px 0px 0px 0px;

}
span{
    color: orange;
}
.articulo{
color:;
display: inline-block;
padding:10px 20px;
text-align: center;
}
.color{
    background-color:rgb(38, 99, 139);
    color: white;
}

